// Background colors and text colors
.black {
  background-color: Black;
  color: White;
}
.pink {
  background-color: HotPink;
  color: White;
}
.purple {
  background-color: Purple;
  color: White;
}
.white {
  background-color: White;
  color: Black;
}
.green {
  background-color: Green;
  color: White;
}
.red {
  background-color: Red;
  color: White;
}
.brown {
  background-color: Brown;
  color: White;
}
.orange {
  background-color: Orange;
  color: White;
}
.blue {
  background-color: Blue;
  color: White;
}
a {
  color: White;
  &:visited {
    color: White;
  }
}
