// Background colors and text colors
@mixin stripe ($color) {
  a:nth-child(even) {
    background-color: lighten($color, 5%);
  }
}
.black {
  background-color: Black;
  color: White;
}
.pink {
  background-color: HotPink;
  color: White;
}
.purple {
  @include stripe(Purple);
  background-color: Purple;
  color: White;
}
.dark-purple {
  background-color: darken(Purple, 5%);
  color: White;
}
.light-purple {
  background-color: lighten(Purple, 5%);
  color: White;
}
.white {
  background-color: White;
  color: Black;
}
.green {
  background-color: Green;
  color: White;
}
.red {
  background-color: Red;
  color: White;
}
.brown {
  background-color: Brown;
  color: White;
}
.orange {
  background-color: Orange;
  color: White;
}
.blue {
  background-color: Blue;
  color: White;
}
a {
  color: White;
  &:visited {
    color: White;
  }
}
