@mixin stripe ($color) {
  a:nth-child(even) {
    background-color: lighten($color, 5%);
  }
}
.dark-black {
  background-color: Black;
  color: White;
  a {
    color: White;
    &:visited {
      color: White;
    }
  }
}
.black {
  @extend .dark-black;
  background-color: lighten(Black, 5%);
}
.light-black {
  @extend .dark-black;
  background-color: lighten(Black, 10%);
}
.gray {
  @include stripe(LightGray);
  background-color: LightGray;
  color: Black;
  a {
    color: lighten(Black, 20%);
    &:visited {
      color: lighten(Black, 20%);
    }
  }
}
.white {
  background-color: White;
  color: Black;
}
.green {
  background-color: Green;
  color: White;
}
.red {
  background-color: Red;
  color: White;
}
.purple {
  background-color: Purple;
  color: White;
}
.brown{
  background-color: Brown;
  color: White;
}
