@import 'colors';
@import 'grids';

$breakpoint: 64em;

body {
  margin: 0;
  padding: 0;
  font-family: "Chelsea Market", sans-serif;
}
.header {
  @extend .g-1;
  @extend .black;
  .logo{
    background-image: url(image-path('logo.png'));
    background-size: cover;
    display: block;
    width: 12em;
    height: 12em;
    margin: 0 auto;
    @media screen and (min-width: $breakpoint) {
      width: 6em;
      height: 6em;
    }
  }
}
.main {
  font-size: 4em;
  @media screen and (min-width: $breakpoint) {
    font-size: 2em;
  }
}
a {
  text-decoration: none;
}
.footer {
  @extend .g-1;
  @extend .black;
  font-style: italic;
  height: 100%;
  position: fixed;
  font-size: 2em;
  @media screen and (min-width: $breakpoint) {
    font-size: 1em;
  }
}
