@import 'colors';
@import 'fonts';
@mixin transition($property) {
  -webkit-transition: $property 0.4s;
  -moz-transition: $property 0.4s;
  -ms-transition: $property 0.4s;
  -o-transition: $property 0.4s;
  transition: $property 0.4s;
}

$breakpoint: 64em;

body {
  margin: 0;
  padding: 0;
}
.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.l-box {
  padding: 1em;
}
.header {
  padding: 4em 0;
  @media screen and (min-width: $breakpoint) {
    padding: 2em 0;
  }
  .logo{
    background-image: url(image-path('logo.png'));
    background-size: cover;
    display: block;
    width: 12em;
    height: 12em;
    margin: 0 auto;
    @media screen and (min-width: $breakpoint) {
      width: 6em;
      height: 6em;
    }
  }
}
.main {
  @extend .white;
  font-size: 6em;
  @media screen and (min-width: $breakpoint) {
    font-size: 4em;
  }
}
a {
  text-decoration: none;
}
input, button {
  border: 0;
  padding: 0;
  outline: none;
}
.avatar {
  font-size: 0;
  height: 300px;
}
.create-player, .create-team {
  @include transition(height);
  height: 1.4em;
  overflow: hidden;
}
.hide {
  height: 0px;
  overflow: hidden;
}
.footer {
  padding: 2em 0;
  font-style: italic;
  height: 100%;
  font-size: 2em;
  @media screen and (min-width: $breakpoint) {
    font-size: 1em;
  }
}
